<p><%= @user.user_name %>様</p>
<p>
  パスワードリセットのご申請ありがとございます。
  下のリンクをクリックし、パスワードを再設定する画面が表示されますので、新しいパスワードを設定してください。
  ※パスワード再設定はメール受信後から「15分以内」に行ってください。
</p>
<p><%= link_to "パスワードを再設定する", password_reset_edit_url(token: @token) %></p>
