<section id="form" class="section-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">Reset Password</h2>
      <p>パスワード再設定</p>
    </div>
  </div>
</section>