<section id="table" class="section-with-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">Followings List</h2>
      <p>フォロー一覧</p>
    </div>
    <%= link_to "フォロワー一覧", user_followers_path(@current_user) %>
    <%= link_to "フォロー一覧", user_followings_path(@current_user) %>
    <%= render 'relationships/table', users: @users, current_user: @current_user %>
  <div>
</section>
