<section id="table" class="section-with-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">Followings List</h2>
      <p>フォロー一覧</p>
    </div>
    <div class="d-flex justify-content-between align-items-center condition-btn-area mb-4">
      <%= link_to "フォロワー一覧", user_followers_path(@current_user) %>
      <span class="separator"></span>
      <%= link_to "フォロー一覧", user_followings_path(@current_user), class:"selected-condition" %>
    </div>
    <%= render 'shared/relationships/table', users: @users, current_user: @current_user %>
  <div>
</section>
