<section id="schedule" class="section-with-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">Followings List</h2>
      <p>フォロー一覧</p>
    </div>
    <div class="tab-content row justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
      <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
      </div>
    </div>
  <div>
</section>
