<section id="table" class="section-with-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">Followers List</h2>
      <p>フォロワー一覧</p>
    </div>
    <%= render 'relationships/table', users: @users, current_user: @current_user %>
  <div>
</section>
