<section id="table" class="section-with-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">User List</h2>
      <p>ユーザー一覧</p>
    </div>
    <%= render 'shared/users/search_form' %>
    <%= render 'shared/users/table', users: @users, current_user: @current_user, users_count: @users_count %>
  <div>
</section>
