<section id="schedule" class="section-with-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">Search Result</h2>
      <p>検索結果一覧</p>
    </div>
  <div>
</section>