<section id="table" class="section-with-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">Search Result</h2>
      <p>ユーザー検索結果一覧</p>
    </div>
    <%= render 'shared/users/search_form' %>
    <%= render 'shared/users/table', users: @searched_users, current_user: @current_user, users_count: @searched_users_count %>
  <div>
</section>
