<section id="speakers-details">
  <div class="container">
    <div class="section-header">
      <h2 class="mt-5">User Details</h2>
      <p>ユーザー情報</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <% if @user.image.attached? %>
          <%= image_tag(rails_blob_path(@user.image_name),:size => "70x70",class:"rounded-circle") %>
        <% else %>
          <%= image_tag("default_user.png", :size => "70x70") %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="details">
          <h3>ユーザー名</h2>
          <h2><%= @user.name %></h2>
          <h3>自己紹介</h2>
          <p><%= @user.introduction %></p>
        </div>
      </div>
    </div>
  </div>
</section>
