<section id="speakers">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2>Event Speakers</h2>
      <p>Here are some of our speakers</p>
    </div>
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="speaker aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <% if post.spot_image.attached? %>
              <%= image_tag(rails_blob_path(post.spot_image), class:"img-fluid") %>
            <% else %>
              <%= image_tag("default_spot.jpg", class:"img-fluid") %>
            <% end %>
            <div class="details">
              <h3><a href="speaker-details.html"><%= post.title %></a></h3>
              <p>Spot_name</p>
              <div class="social">
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
