<section id="speakers">
  <% @posts.each do |post| %>
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-header">
          <h2>Event Speakers</h2>
          <p>Here are some of our speakers</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <img src="/assets/default_spot.jpg" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Post1</a></h3>
                <p>Spot_name</p>
                <div class="social">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </section>
