<section id="contact" class="section-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">新規スポット投稿</h2>
      <p>Create Spot</p>
    </div>
    <div class="form php-email-form">
      <%= form_with model: @post, url: users_path do |f| %> 
      <% end %>
    </div>
  </div>
</section>