<% content_for(:title, "スポット検索結果一覧") %>
<section id="spots">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">Spot Index</h2>
      <p>スポット検索結果一覧</p>
    </div>
    <%= render 'shared/posts/search_form' %>
    <%= render 'shared/posts/posts_list', posts: @searched_posts, posts_count: @searched_posts_count, current_user: @current_user %>
  </div>
</section>
