<section id="spots">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">Spot Index</h2>
      <p>投稿スポット一覧</p>
    </div>
    <section id="search-form">
      <div class="container aos-init aos-animate" data-aos="zoom-in">
        <%= form_with(url: search_posts_path, local: true, method: :get ) do |f| %>
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 d-flex">
              <%= f.text_field :keyword, class:"form-control", placeholder:"投稿者、スポット名、タイトル、住所" %>
              <%= f.button "Search", :type => "submit", class:"ms-2" %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
    <%= render 'posts/posts_list', posts: @searched_posts, posts_count: @searched_posts_count, current_user: @current_user %>
  </div>
</section>
