<section id="speakers-details">
  <div class="container">
    <div class="section-header">
      <h2 class="mt-5">Spot Detail</h2>
      <p>スポット情報</p>
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="details">
        </div>
      </div>
    </div>
  </div>
</section>