<section id="speakers-details">
  <div class="container">
    <div class="section-header">
      <h2 class="mt-5">Spot Detail</h2>
      <p>スポット情報</p>
    </div>
    <div class="row">
      <div class="col-md-6">
      <% if @post.spot_image.attached? %>
        <%= image_tag(rails_blob_path(@post.spot_image), class:"img-fluid") %>
      <% else %>
        <%= image_tag("default_spot.jpg", class:"img-fluid") %>
      <% end %>
      </div>
      <div class="col-md-6">
        <div class="details">
          <h4>投稿タイトル</h4>
          <h2><%= @post.title %></h2>
        </div>
      </div>
    </div>
  </div>
</section>